<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->

{% load custom_tags %}
<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Список новостей</h1>

    <h3>{% current_time '%b %d %Y %A' %}</h3>
    <h3>Количество всех новостей: {{ category_news_list|length }}</h3>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' categories.id%}" class="btn-secondary btn-sm">Подписаться
        </a></p>
    {% endif %}

    <hr>
    {% if category_news_list %}
        <table>
            <tr>
                <td><h5>Заголовок</h5></td>
                <td><h5>Категории</h5></td>
                <td><h5>Тип статьи</h5></td>
                <td><h5>Дата публикации</h5></td>
                <td><h5>Текст статьи</h5></td>
            </tr>
            {% for post in category_news_list %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{% for categories in post.categories.all %}
                    <a href="{% url 'category_list' categories.id %}">{{ categories }}</a>
                    {% endfor %}</td>
                <td>{{ post.post_type }}</td>
                <td>{{ post.created_time }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}