{% extends 'flatpages/default.html' %}

{% block content %}
<h3 style="text-align: center"> Вы успешно авторизовались!</h3>
<hr>
<a href="http://127.0.0.1:8000/post/" style="padding-left: 20px"> Перейти к просмотру постов</a>
<br>
{% if is_not_author %}
    <button style="margin-left: 20px">
        <a class="nav-link" href="http://127.0.0.1:8000/auth/upgrade/"> Стать автором</a>
    </button>
{% endif %}
<br><br>
<button style="margin-left: 20px">
    <a class="nav-link" href="http://127.0.0.1:8000/accounts/logout/"> Выйти</a>
</button>
{% endblock %}